{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top gray" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a style="width:14%" class="navbar-brand" href="{% url 'index' %}">
            <img class="logo" src="{% static 'images/logo_cropped.png' %}">
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right gray">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li><a href="{% url 'preferences' %}"><i class="fa fa-user fa-fw"></i>Preferences</a>
                </li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <div class="navbar-default sidebar gray" role="navigation" style="color: #58ca7e;">
        <div class="sidebar-nav navbar-collapse" style="color: #58ca7e;">
            <ul class="nav" id="side-menu" style="color: #58ca7e;">
                </li>
                <li>
                    <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'preferences' %}"><i class="fa fa-cog fa-fw"></i> Preferences</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-top-links -->
</nav>
